<h1 class="underlined-header">About</h1>

<img id="dp" src="{{site.baseurl}}/assets/images/me3.jpg">

<!-- <h3 style="
    margin-bottom: 12px;
    margin-top: 16px;
">
  Hello
</h3> -->

<p id="bio">
My name is Joseph, and I'm a research fellow at the University of Bristol.
</p>
<p id="bio">
Find some links below.
</p>


<br>
{% include socials.html %}
<!-- <br> -->
<!-- - <img src="/assets/images/icons/linkedin-16x16.png">
<a class="sidebar-link" href="https://www.linkedin.com/in/jpmacmanus">LinkedIn Profile</a>
<br>
<br>
- <img src="/assets/images/icons/github-16x16.png">
<a class="sidebar-link" href="https://github.com/jpmacmanus">GitHub Profile</a>
<br> -->
